.colors {
  background-color: #4b5738;
  background-color: rgb(75, 87, 56);
  background-color: #57693a;
  background-color: rgb(87, 105, 58);
  background-color: #86b300;
  background-color: rgb(134, 179, 0);

  background-color: rgb(255, 255, 0);
  background-color: rgb(252, 247, 94);

  background-color: #d18100;
  background-color: rgb(209, 129, 0);
  background-color: #ffbf00;
  background-color: rgb(255, 191, 0);

  background-color: #e64d1a;
  background-color: rgb(230, 77, 25);
  background-color: #ffa8a8;
  background-color: rgb(255, 168, 168);
}
